<main>
    <form method="post" action="/GestionPreguntas/guardarCambios">
        <div class="quiz-shell shadow fs-5">
            <div class="d-flex justify-content-between align-items-start">
                <div class="w-75">
                    <p class="text-success fw-bold mb-1">Pregunta</p>
                    <input type="text" class="form-pregunta w-100 me-3 fs-6" value="{{pregunta.enunciado}}" name="enunciadoPregunta">
                    <input type="hidden" name="idPregunta" value="{{pregunta.id}}">
                </div>
                <img src="/public/img/lapizEditar.png"  alt="Editar" style="width: 50px">
            </div>

            <div class="mt-5">
                <p class="text-success fw-bold mb-1 ">Categoría</p>
                <div class="mb-3">
                    <select class="form-select-pregunta w-75" id="categoria" name="selectCategoria">
                        <option selected value="{{pregunta.id_categoria}}">{{nombreCategoria}}</option>
                        <option value="1">Ciencia</option>
                        <option value="2">Deportes</option>
                        <option value="3">Geografía</option>
                        <option value="4">Arte</option>
                        <option value="5">Historia</option>
                        <option value="6">Entretenimiento</option>
                    </select>
                </div>

                <p class="text-success fw-bold mt-5 mb-1">Respuestas</p>
                {{#respuestas}}
                    <div class="d-flex align-items-center mb-2">
                        <input type="text" class="form-pregunta w-75 me-3" value="{{texto}}" name="respuestas[{{id}}]">
                        <input
                                class="form-check-input"
                                type="radio"
                                name="respuestaCorrecta"
                                value="{{id}}"
                                {{#es_correcta}}checked{{/es_correcta}}
                        >
                    </div>
                {{/respuestas}}

                {{#pregunta}}
                    <div class="d-flex justify-content-between gap-2 mt-5">
                        <a class="logout-btn fs-6" id="btn-eliminar" style="text-decoration: none" href="">Eliminar</a>
                        <button type="submit" class="btn btn-enviar px-4 rounded-pill">Guardar Cambios</button>
                    </div>
                {{/pregunta}}
            </div>

        </div>
    </form>


</main>
<div class="modal fade" id="confirmEliminarModal" tabindex="-1" aria-labelledby="confirmEliminarLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmEliminarLabel">Vas a eliminar la pregunta para siempre. ¿Estas segur@?</h5>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                <form method="post" action="/GestionPreguntas/eliminar">
                    <input type="hidden" name="idPregunta" value="{{pregunta.id}}">
                    <button name="botonEliminar" type="submit" class="btn btn-danger">Sí, Eliminar</button>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="/public/Js/EdicionEditor.js"></script>