<main>
    <div class="container text-center mt-4">
        <h2 class="fw-bold text-primary">Administrar preguntas</h2>

        <form method="post" action="/GestionPreguntas/buscar">
            <div class="d-flex justify-content-center mt-4">
                <div class="input-group shadow-sm search-bar" style="max-width: 950px; width: 90%; border-radius: 50px; background-color: white; overflow: hidden;">
                    <input type="text" class="form-control border-0 ps-4 py-2" name="busqueda" placeholder="Buscar por enunciado o categoría..." style="border-radius: 0;" />
                    <button class="btn btn-primary px-3" type="submit" style="border-top-right-radius: 50px; border-bottom-right-radius: 50px;">
                        <img src="/public/img/lupa.png" style="width: 30px;" alt="Buscar" />
                    </button>
                </div>
            </div>
        </form>

        <div class="mt-4 text-end">
            <a href="/GestionPreguntas/showCrearPregunta" class="btn btn-success rounded-pill px-4 py-2">
                + Agregar nueva pregunta
            </a>
        </div>

        <div class="mt-4">
            {{#mostrarCantidad}}
                <div class="alert alert-info mt-4">
                    Hay {{cantidad_total}} preguntas cargadas en total.
                </div>
            {{/mostrarCantidad}}

            {{#mensajeCantidad}}
                <div class="alert alert-info mt-4">{{mensajeCantidad}}</div>
            {{/mensajeCantidad}}
            {{#preguntas}}
                <div class="question-card">
                    <div class="question-text">{{enunciado}}</div>
                    <div>

                        <a href="/GestionPreguntas/mostrarEdicion/{{id}}" class="ms-1">
                            <img src="/public/img/lapizEditar.png" class="glyph-pencil" style="width: 34px">
                        </a>

                    </div>
                </div>
            {{/preguntas}}

            {{^preguntas}}
                <p class="text-muted mt-4">No hay preguntas cargadas aún.</p>
            {{/preguntas}}
        </div>
    </div>
</main>
