<main>

    <div class="logout-container">
        <form method="post" action="/LobbyAdmin/logOut">
            <button class="logout-btn">Cerrar sesión</button>
        </form>
    </div>

    <div class="container">
        <p class="text-center mb-3 fs-1 fw-bold" style="color: #007bff">Panel de Administración</p>
        <p class="text-center mb-5" style="color: #6f6f6f">Estadísticas y métricas generales del sistema de trivia</p>

        <!-- Filtro -->
        <div class="d-flex justify-content-center mb-4">
            <select id="selector-fecha-filtro" class="select-personalizado w-auto me-2 rounded-pill px-5" aria-label="Filtrar por">
                <option value="dia">Día</option>
                <option value="semana">Semana</option>
                <option value="mes" selected>Mes</option>
                <option value="anio">Año</option>
            </select>
        </div>

        <div id="contenido-pdf">

        <!-- Fila 1: Jugadores, Total partidas, Usuarios nuevos -->
        <div class="row row-cols-1 row-cols-md-3 g-4 text-center mb-4">
            <div class="col">
                <div class="panel">
                    <h5 class="fs-5 text-success mb-4">Jugadores activos</h5>
                    <div id="grafico-jugadores-activos" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
            <div class="col">
                <div class="panel">
                    <h5 class="fs-5 text-success mb-4">Total partidas jugadas</h5>
                    <div id="grafico-partidas" style="height: 300px; width: 100%;"></div>

                </div>
            </div>
            <div class="col">
                <div class="panel">
                    <h5 class="fs-5 text-success mb-4">Usuarios nuevos</h5>
                    <div id="grafico-usuarios-nuevos" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
        </div>

        <!-- Fila 2: Usuarios por país, sexo, edad -->
        <div class="row row-cols-1 row-cols-md-3 g-4 text-center mb-4">
            <div class="col">
                <div class="panel">
                    <h5 class="fs-5 text-success mb-4">Usuarios por país</h5>
                    <script>
                        window.datosGraficoPorPais = JSON.parse('{{{datosJugadoresPorPaisJSON}}}');
                    </script>
                    <div id="grafico-por-pais" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
            <div class="col">
                <div class="panel" style="width: 100%">
                    <h5 class="fs-5 text-success mb-4">Usuarios por sexo</h5>
                    <script>
                        window.datosGraficoSexo = JSON.parse('{{{datosSexoJSON}}}');
                    </script>
                    <div id="grafico-sexo" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
            <div class="col">
                <div class="panel">
                    <h5 class="fs-5 text-success mb-4">Usuarios por grupo de edad</h5>
                    <script>
                        window.datosGraficoEdad = JSON.parse('{{{datosEdadJSON}}}');
                    </script>
                    <div id="grafico-edad" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
        </div>

        <!-- Fila 3: Preguntas, Preguntas creadas, Preguntas respondidas -->
        <div class="row row-cols-1 row-cols-md-3 g-4 text-center mb-3">
            <div class="col">
                <div class="panel" style="width: 100%">
                    <div class="d-flex justify-content-center align-items-center mb-5">
                        <h5 class="mb-0 fs-3 text-success">Preguntas</h5>
                    </div>

                    <select id="selector-tipo" class="select-personalizado mb-3" style="max-width: 250px; margin: 0 auto;">
                        <option class="fs-6" value="categoria" selected>Por categoría</option>
                        <option  value="dificultad">Por dificultad</option>
                    </select>
                    <script>
                        window.datosPreguntasPorCategoria = JSON.parse('{{{datosPreguntasCategoriaJSON}}}');
                        window.datosPreguntasPorDificultad = JSON.parse('{{{datosPreguntasDificultadJSON}}}');
                    </script>

                    <div id="grafico-preguntas" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
            <div class="col">
                <div class="panel">
                    <div class="d-flex justify-content-center align-items-center mb-4">
                        <h5 class="fs-5 text-success mb-4 mt-3">Preguntas creadas</h5>
                    </div>
                    <script>
                        window.datosPreguntasCreadas = JSON.parse('{{{datosPreguntasCreadasJSON}}}');
                    </script>

                    <div id="grafico-preguntas-creadas"  class="mb-4" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
            <div class="col">
                <div class="panel">
                    <h5 class="fs-5 text-success mb-4">Preguntas respondidas</h5>
                    <script>
                        window.datosGraficoRespuestas = JSON.parse('{{{datosRespondidasJSON}}}');
                    </script>
                    <div id="grafico-respuestas" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
        <div class="row justify-content-center mb-5 mt-3">
            <div class="col-auto">
                <button class="descargar-btn">Descargar</button>
            </div>
            <div class="col-auto">
                <button class="imprimir-btn">Imprimir</button>
            </div>
        </div>

    </div>


</main>

<!-- Scripts -->
<script src="/public/Js/GraficoPorSexo.js"></script>
<script src="/public/Js/GraficoPorEdad.js"></script>
<script src="/public/Js/GraficoPorRespuestas.js"></script>
<script src="/public/Js/GraficoPorPreguntas.js"></script>
<script src="/public/Js/GraficoPreguntasCreadas.js"></script>
<script src="/public/Js/GraficosFiltroSelect.js"></script>
<script src="/public/Js/GenerarPDF.js"></script>
<script src="/public/Js/GraficoPorPais.js"></script>
