<html>
<head>

</head>

<body>

    <h1 style="text-align: center">Bienvenido!</h1>

    <a href="/TPFinal/Perfil/show">Ir al perfil</a>

    <h2>Bienvenido, {{usuario}}</h2>
<form method="post" action="/TPFinal/login/logOut">
    <button>Cerrar Sesion</button>
</form>

</body>

</html>