
<main>
    <div class="logout-container">
        <form method="post" action="/TPFinal/login/logOut">
            <button class="logout-btn">Cerrar sesión</button>
        </form>
    </div>

    <div class="container text-center mt-4">

        {{#success}}

            <div class="custom-alert">
                <span class="alert-text">✔️ {{success}}</span>
                <button class="close-btn" onclick="this.parentElement.style.display='none';">✕</button>
            </div>
        {{/success}}
        <div class="d-flex justify-content-center align-items-center mb-2">
            <a href="/TPFinal/Perfil/show" style="text-decoration: none">
                <h1 class="fw-bold text-primary">{{usuario.nombre}}</h1>
            </a>
            <div class="score-circle">123</div>
        </div>

        <p class="fw-bold text-center">Últimas partidas</p>
        <div class="container">
            <div class="row justify-content-center">
                {{#ultimas_partidas}}
                    <div class="col-md-3 col-sm-6 mb-4">
                        <div class="game-box border p-3 rounded bg-white shadow-sm text-center h-100">
                            <p class="mb-1"><strong>Fecha:</strong> {{fecha}}</p>
                            <p class="mb-1"><strong>Puntaje:</strong> {{puntaje_total}}</p>
                            <p class="mb-0"><strong>Estado:</strong> {{estado}}</p>
                        </div>
                    </div>
                {{/ultimas_partidas}}

                {{^ultimas_partidas}}
                    <p class="text-center mt-4">No tenés partidas registradas todavía.</p>
                {{/ultimas_partidas}}

        <div class="d-flex justify-content-between px-5">
            <a href="/TPFinal/Partida/show">
                <button class="rounded-btn">Iniciar partida</button>
            </a>

            <button class="rounded-btn">Crear pregunta</button>
        </div>
    </div>
</main>
