
<main>
    <div class="logout-container">
        <form method="post" action="/Lobby/logOut">
            <button class="logout-btn">Cerrar sesión</button>
        </form>
    </div>

    <div class="container text-center mt-4">

        {{#success}}

            <div class="custom-alert">
                <span class="alert-text">✔️ {{success}}</span>
                <button class="close-btn" onclick="this.parentElement.style.display='none';">✕</button>
            </div>
        {{/success}}
        <div class="d-flex justify-content-center align-items-center mb-2">
            <a href="/Perfil/show" style="text-decoration: none">
                <h1 class="fw-bold text-primary">{{usuario.nombre}}</h1>
            </a>
            <div class="score-circle mb-2" >
                {{puntaje_total}}
            </div>
        </div>

        <p class="fw-bold text-center mt-4">Últimas partidas</p>
        <div class="container">
            <div class="row justify-content-center">
                {{#ultimas_partidas}}
                    <div class="col-md-3 col-sm-6 mb-5">

                        <div class="game-box p-2 rounded-4 shadow-sm text-center h-100" style="background-color: #cbecbe; border: 3px solid #4c9e72;">
                            <img src="/public/img/iconoPartida.png" style="width: 30px">
                            <p class="mb-1 mt-1 " style="color: #009246"><strong>Fecha:</strong> {{fecha}}</p>
                            <p class="mb-1" style="color: #009246"><strong>Puntaje:</strong> {{puntaje_total}}</p>

                        </div>
                    </div>
                {{/ultimas_partidas}}

                {{^ultimas_partidas}}
                    <p class="text-center mt-5 mb-5">No tenés partidas registradas todavía.</p>
                {{/ultimas_partidas}}

        <div class="d-flex justify-content-between px-5 mt-5">
            <a href="/Partida/show">

                <button class="rounded-btn">
                    <img src="/public/img/iconoLuz.png" class="mb-1" style="width: 25px">
                    Iniciar partida
                </button>
            </a>

            <a href="/Ranking/show" class="rounded-btn text-light" style="text-decoration: none">
                <img src="/public/img/iconoTrofeo.png" class="me-1 mb-1" style="width: 20px">
                Ver Ranking
            </a>

            <button class="rounded-btn">
                <img src="/public/img/iconoLapiz.png"  style="width: 26px">
                Crear pregunta
            </button>
        </div>
    </div>
</main>
