

<main>
    <div class="login-box text-center estiloLogin ">
        <h2 class="mb-4 fw-bold">Logo</h2>
        <h5 class="mb-2">INICIO SESIÓN</h5>


        {{#error}}
            <div class="alert alert-danger d-flex align-items-center justify-content-between shadow-sm rounded-3 p-3 mt-3" role="alert">
                <div class="d-flex align-items-center">
                    <i class="bi bi-exclamation-triangle-fill me-2 fs-4"></i>
                    <span class="fw-semibold">{{error}}</span>
                </div>
            </div>
        {{/error}}

        <form method="POST" action="/TPFinal/Login/login">
            <div class="mb-3 text-start">
                <label class="form-label">Usuario</label>
                <input name="usuario" type="text" class="form-control input-underline" style="color:white" >
            </div>
            <div class="mb-1 text-start position-relative">
                <label class="form-label">Contraseña</label>
                <input name="contrasenia" type="password" class="form-control input-underline" style="color:white">

          </span>
            </div>
            <div class="text-end text-link mb-3">
                <a href="#" class="text-white text-decoration-none">¿Olvidaste tu contraseña?</a>
            </div>
            <button type="submit" class="btn login-btn w-100 mb-3 p-3">INICIAR SESIÓN</button>
            <div class="text-link">
                ¿No tienes cuenta? <a href="/TPFinal/Register/show" class="fw-bold text-white text-decoration-none">Regístrate</a>
            </div>
        </form>
    </div>
</main>

