<main class="container py-5 rounded" style="margin-left: 4.5rem;">

    <div class="estiloPagInicio mt-5">


        <h1 class="display-1 mb-3 fw-bold" style="color: #007bff ">Bienvenido a SabiaMente!</h1>
        <h4 class="mb-4">Registrate y demostrá quién manda en las trivias</h4>


        <a href="/register/show" class="btn-registrarse-home btn rounded-pill mb-4 px-5 py-2 text-white fs-5  align-self-start" style="background-color: #007bff ">
            Registrarse
        </a>

        <p class="fs-5">
            ¿Ya tienes una cuenta? <strong><a class="inicia-sesion" href="/login/show" style='color:#007bff '> Inicia sesión</a> </strong>
        </p>

    </div>
</main>

