<main>
    <div class="user-info">
        <h4>{{usuario.nombre}}</h4>
        <div class="d-flex justify-content-around mt-2">
            <span><strong>Partida en progreso</strong></span>
            <span><strong>Puntos: {{partida.puntaje_total}}</strong></span>
            {{error}}
        </div>
    </div>


    <div class="category-container">
        <div class="category-btn cat1" id="cat1">
            <img src="/public/img/Ciencia.png" style="width: 80px">
        </div>
        <div class="category-btn cat2" id="cat2">
            <img src="/public/img/Deporte.png" style="width: 80px">
        </div>
        <div class="category-btn cat3" id="cat3">
            <img src="/public/img/Geografía.png" style="width: 80px">
        </div>
        <div class="category-btn cat4" id="cat4">
            <img src="/public/img/Arte.png" style="width: 80px">
        </div>
        <div class="category-btn cat5" id="cat5">
            <img src="/public/img/Historia.png" style="width: 90px">
        </div>
        <div class="category-btn cat6" id="cat6">
            <img src="/public/img/Entretenimiento.png" style="width: 80px">
        </div>
        <button id="play-btn" class="play-btn center-play-btn">Jugar</button>
    </div>

    <button class="exit-btn" id="btnSalir" type="button">Salir</button>


</main>
<div class="modal fade" id="confirmSalirModal" tabindex="-1" aria-labelledby="confirmSalirLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmSalirLabel">Vas a salir de la partida. ¿Querés continuar? </h5>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <form method="post" action="/Partida/terminarPartida">
                    <button name="botonSalir" type="submit" class="btn btn-danger">Sí, salir</button>
                </form>

            </div>
        </div>
    </div>
</div>
<div id="categoria-data" data-categoria="{{categoria_nombre}}"></div>
<script src="/public/Js/Ruleta.js"></script>