
<main>

    <div class="container mt-2">
        <div class="row align-items-center">

            <div class="col-md-4 d-flex justify-content-center align-items-center">
                {{#usuario}}
                    <div style="width: 13em; height: 13em;">
                        <form method="POST" action="/TPFinal/Perfil/cambiarFoto" enctype="multipart/form-data">
                            <div style="width: 13em; height: 13em; position: relative;">
                                <img src="../public/imagenesUsuarios/{{foto_perfil}}" alt="Foto de perfil del jugador"
                                     class="rounded-circle shadow border"
                                     style="width: 100%; height: 100%; object-fit: cover; display: block;">

                                <!-- Ícono flotante -->
                                <label for="nuevaFoto" class="cambiarFoto ">
                                    <i class="bi bi-camera-fill"></i>
                                </label>

                                <!-- Input oculto -->
                                <input id="nuevaFoto" class="d-none" type="file" name="imagen" accept="image/*" onchange="this.form.submit()">
                            </div>
                        </form>


                    </div>
                {{/usuario}}
            </div>

            <div class="col-md-8">
                {{#usuario}}
                    <div class="mb-3">
                        <label class="form-label-perfil">Nombre</label>
                        <p class="form-line">{{nombre}}</p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label-perfil">Apellido</label>
                        <p class="form-line">{{apellido}}</p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label-perfil">Usuario</label>
                        <p class="form-line">{{nombre_usuario}}</p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label-perfil">Email</label>
                        <p class="form-line">{{email}}</p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label-perfil">Año de nacimiento</label>
                        <p class="form-line">{{anio_nacimiento}}</p>
                    </div>
                    <div class="text-end">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/World_map_blank_black.svg/1200px-World_map_blank_black.svg.png" alt="Mapa del mundo" class="world-map">
                    </div>
                {{/usuario}}
            </div>
        </div>
    </div>

</main>