<main class="min-vh-90 ">
    <div class="d-flex flex-column align-items-center justify-content-center mt-3">
        <button type="button" class="btn btn-outline-danger rounded-circle position-absolute top-0 end-0 m-3" onclick="window.history.back()" aria-label="Cerrar">
            <i class="bi bi-x-lg"></i>
        </button>

        <div class="container d-flex align-items-center justify-content-center mt-5 mb-3"
             style="background-color: {{color_pregunta}}; max-width: 340px; height: 70px; border-radius: 40px;">
            <img src="/TPFinal/public/img/{{categoria}}.png" style="width: 40px">
            <h2 class="fw-bold text-center text-white m-0 ms-2">{{categoria}}</h2>
        </div>

        <div class="container mt-2 text-center" style="max-width: 700px;">
           <div class="pregunta-card bg-white rounded shadow ">
                <div class="pregunta-header p-3 text-white rounded-top" style="background-color: {{color_pregunta}}">

                   <h5 class="mb-0 fs-4">{{pregunta}}</h5>


                </div>



               <form action="/TPFinal/Pregunta/verificarRespuesta" method="POST">
                   <div class="list-group ">
                       {{#respuestas}}
                           <button type="submit" name="respuestaId" value="{{id}}" class="list-group-item list-group-item-action py-4">
                               {{texto}}
                           </button>
                       {{/respuestas}}
                   </div>

                   <input type="hidden" name="preguntaId" value="{{id_pregunta}}">
               </form>

           </div>
       </div>

    </div>
    <div class="text-center mt-3">
        <p class="mb-0">⏳ Tiempo restante: <span id="contador-tiempo">10</span> segundos</p>
    </div>
    <div class="position-absolute  bottom-0 m-3 mb-4 ms-4">
        <button class="btn btn-outline-danger">
            ⚠️ Reportar pregunta
        </button>
    </div>

</main>
<script>
    const PREGUNTA_ID = {{id_pregunta}};
</script>
<script src="/TPFinal/public/Js/timer.js"></script>


