<main>
    <div class="container registration-container ">

        <form method="POST" action="/TPFinal/Register/add" enctype="multipart/form-data">
        <div class="row">

            <div class="col-lg-6">
                <h5 class="fw-normal">REGÍSTRATE</h5>


                    <div class="mb-2">
                        <label for="nombre" class="form-label fw-bold mb-1">Nombre</label>
                        <input type="text" class="form-control" name="nombre" />
                    </div>

                    <div class="mb-2">
                        <label for="apellido" class="form-label fw-bold mb-1">Apellido</label>
                        <input type="text" class="form-control" name="apellido" />
                    </div>

                    <div class="mb-2">
                        <label for="anoNacimiento" class="form-label fw-bold mb-1">Año de nacimiento</label>
                        <input
                                type="text"
                                class="form-control"
                                id="anoNacimiento"
                                name="anoNacimiento"
                                pattern="\d{4}"
                                maxlength="4"
                        />
                    </div>

                    <div class="mb-2">
                        <label class="form-label fw-bold mb-1">Sexo</label>
                        <div>
                            <div class="btn-group" role="group" aria-label="Selector de sexo">
                                <input type="radio" class="btn-check" name="sexo" id="sexoF" autocomplete="off" value="Femenino"/>
                                <label class="btn btn-sexo" for="sexoF">F</label>

                                <input type="radio" class="btn-check" name="sexo" id="sexoM" autocomplete="off" value="Masculino"/>
                                <label class="btn btn-sexo ms-2" for="sexoM">M</label>

                                <input type="radio" class="btn-check" name="sexo" id="sexoNC" autocomplete="off"  value="No contestar"/>
                                <label class="btn btn-sexo ms-2" for="sexoNC">No contesta</label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="correo" class="form-label fw-bold mb-1">Correo electrónico</label>
                        <input type="email" class="form-control" name="correo" />
                        {{#errors.correo}}
                            <div class="small mt-1 fw-bold" style="color:#dd4242">{{errors.correo}}</div>
                        {{/errors.correo}}
                    </div>

                    <div class="mb-2">
                        <label for="contrasena" class="form-label fw-bold mb-1">Contraseña</label>
                        <input type="password" class="form-control" name="contrasena" />
                    </div>

                    <div class="mb-2">
                        <label for="repetirContrasena" class="form-label fw-bold mb-1">Repetir contraseña</label>
                        <input type="password" class="form-control" name="repetirContrasena" />
                        {{#errors.contrasena}}
                            <div class="small mt-1 fw-bold" style="color:#dd4242">{{errors.contrasena}}</div>
                        {{/errors.contrasena}}
                    </div>

            </div>

            <div class="col-lg-6 d-flex flex-column">
                <div class="mb-2 mt-5">
                    <label class="form-label fw-bold mb-2 d-block" >País y ciudad</label>
                    <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/World_map_ISO_3166-1_alpha-2_black.svg/1280px-World_map_ISO_3166-1_alpha-2_black.svg.png"
                            alt="Mapa del mundo"
                            class="map-image"
                    />
                </div>

                <div class="mb-2">
                    <label for="nombreUsuario" class="form-label fw-bold mb-1">Nombre de usuario</label>
                    <input type="text" class="form-control" name="nombreUsuario" />
                    {{#errors.nombreUsuario}}
                        <div class="small mt-1 fw-bold" style="color:#dd4242">{{errors.nombreUsuario}}</div>
                    {{/errors.nombreUsuario}}
                </div>

                <div class="mb-auto">
                    <label class="form-label fw-bold mb-3">Foto de perfil</label>
                    <div class="upload-icon-wrapper">


                        <label for="imagen" style="cursor: pointer;">
                            <i class="bi bi-upload fs-2"></i>
                        </label>

                        <input class="form-control d-none" type="file" id="imagen" name="imagen" accept="image/*">

                    </div>
                </div>

                <div class="d-flex justify-content-end mt-4">
                    <button type="submit" class="btn btn-registrarse fw-bold">REGISTRARSE</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</main>
